@mixin grid_base (
  $width: 960px,
  $gutter: 20px,
  $columns: 3,
  $prefix : true,
  $push : true
)
{
  $column_width: $width / $columns;

  .grid {
    display: inline;
    float: left;
    margin-right: $gutter/2;
    margin-left: $gutter/2;
  }

  .relative {
    position: relative;
  }

  @include generate_grid (
          $width,
          $gutter,
          $columns,
          $prefix,
          $push
  );

}

/* grid*/

@mixin generate_grid (
    $width: 960px,
    $gutter: 20px,
    $columns: 3,
    $prefix : true,
    $push : true
)
{

  $column_width: $width / $columns;
  $container_name: "container_#{$columns}";

  .#{container_name} {
    margin-left: auto;
    margin-right: auto;
    width: $width;
  }

/* loop "through loops through to one more"*/
  @for $i from 1 through $columns {
    .grid_#{$i} {
      @extend .grid;

      #{container_name} & {
        width: $i * $column_width - $gutter;
      }
    }
    @if $prefix == true {
      .prefix_#{$i} {
        padding-left: $i * $column_width;
      }

      .suffix_#{$i} {
        padding-right: $i * $column_width;
      }
    }
    @if $push == true {
      .push_#{$i} {
        #{container_name} & {
          @extend .relative;
          left: $i * $column_width;
        }
      }

      .pull_#{$i} {
        #{container_name} & {
          @extend .relative;
          left: -$i * $column_width;
        }
      }
    }

  }

}