$mainColor: #8283b7;
$contrastColor: #ffffff;
$padding: 0.5rem;
$menuHeight: 5rem;
$footerHeight: 5rem;

/*------------------------------ menu--------------------------------*/

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  color: $mainColor;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.leftMenu {
  justify-content: flex-start;
  padding: $padding;
  height: $menuHeight;
  display:flex;
  flex-direction:row;

}

.rightMenu {
  justify-content: flex-end;
  padding: $padding;
  height: $menuHeight;
  display:flex;
  flex-direction:row;
}

.menuItem {
  padding: 1rem;
}

.menuCart {
  padding: 1rem;
}

/*---------------------------- menu hidden -----------------------------*/

.hiddenCategoryMenu, .hiddenCollectionMenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s, opacity 0.5s linear;
  position: absolute;
  background-color: $contrastColor;
  min-width: 160px;
  padding: $padding;
  z-index: 1;
  border: 2px solid $contrastColor;
  border-radius: 10px;
}

.menuItem:hover .hiddenCategoryMenu, .menuItem:hover .hiddenCollectionMenu {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  box-shadow: 0px 3px 4px #898989;
}

/*---------------------------------hero---------------------------------*/

.heroImage {
  dislay: flex;
  height: 400px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.imageShow {
  transition: visibility 3s, opacity 1s linear;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.imageHidden {
  opacity: 0;
  transition: visibility 3s, opacity 1s linear;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.previousLink, nextLink {
  position: relative;
}


/*---------------------------------gallery---------------------------------*/


.col-md-4 img{
  height: 250px;
  width: 250px;
  margin: 20px;
}

.hiddenName {
  text-align: center;
  opacity: 0;
  transition: visibility 3s, opacity 1s linear;
}

.showName {
  text-align: center;
  opacity: 1;
  transition: visibility 3s, opacity 1s linear;
}

/*---------------------------- item details ------------------------------*/

#itemImage {
  height: 600px;
  padding: 10px 10px 20px 10px;
  img {
    width: 90%;
  }
}

#itemDescription {
  padding: 10px;
  min-height: 200px;
}

/*------------------------------- footer ---------------------------------*/

.footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $mainColor;
  padding: $padding;
  height: $footerHeight;
}

.footerItem {
  color: $contrastColor;
  padding-left: 20px;
  padding-right: 20px;
  a:hover {
    color:black;
  }
}

