$mainColor: #a6a3d6;
$contrastColor: #ffffff;
$padding: 0.5rem;
$menuHeight: 5rem;
$footerHeight: 5rem;
$shadow: 0px 2px 2px rgba(59, 57, 57, 0.4);

html, body, .flexContainer {
  min-height: 100%;
  height: 100%;
}

/*------------------------------ menu--------------------------------*/

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: $mainColor;
  text-decoration: none;
}

.logo {
  font-family: "lora";
  text-align: center;
  padding-top: 3px;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: $contrastColor;
  box-shadow: $shadow;
  z-index: 20;
  position: relative;
  width: 100%
}

.leftMenu {
  justify-content: flex-start;
  padding: $padding;
  height: $menuHeight;
  display:flex;
  flex-direction:row;
}

.rightMenu {
  justify-content: flex-end;
  padding: $padding;
  height: $menuHeight;
  display:flex;
  flex-direction:row;
}

.menuItem {
  padding: 1rem;
}

.menuCart {
  padding: 1rem;
}

.stickyMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: $contrastColor;
  box-shadow: $shadow;
  z-index: 31;
  position: fixed;
  width: 100%;
  top: 0;
}


/*---------------------------- menu hidden -----------------------------*/

.hiddenCategoryMenu, .hiddenCollectionMenu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 3s, opacity 0.5s linear;
  position: absolute;
  background-color: $contrastColor;
  min-width: 160px;
  padding: $padding;
  z-index: 1;
  border: 2px solid $contrastColor;
  border-radius: 10px;
  list-style: none;
}

.menuItem:hover .hiddenCategoryMenu, .menuItem:hover .hiddenCollectionMenu {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  box-shadow: $shadow;

}

/*---------------------------------hero---------------------------------*/

.heroImage {
  display: flex;
  height: 400px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}


.imageShow {
  transition: visibility 3s, opacity 1s linear;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.imageHidden {
  opacity: 0;
  transition: visibility 3s, opacity 1s linear;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.previousLink, .nextLink {
  position: relative;
}

.LinkHero {
  top: 40%;
  left: 5%;
  position: absolute;
}

.ghost {
  border-radius: 10px;
  border: 2px solid black;
  z-index: 30;
  padding: 2px;
}

.ghost:hover {
  transition-duration: 0.5s;
  background-color: black;
  color: $contrastColor;
  text-decoration: none;
}

/*---------------------------------featured collection---------------------------------*/

.feature {
  margin-bottom: 20%;
  width: 100%;
  display: flex;
  height: 600px;
  position: relative;
}

.collectionImage img{
  height: 600px;
  margin: 0;
  position: relative;
  top: -100px;
  opacity: 0.2;
}

.collectionDes {
  padding-top: 250px;
  text-align: center;
}

.col-md-2 {
  z-index: 2;
}

.feature1{
  background-color: rgba(16, 160, 139, 0.4);
  .collectionItem img {
    position: absolute;
    height: 250px;
    width: 250px;
  }
  .collectionDes {
    position: relative;
    padding-left: 25%;
    top: -100px;
    opacity: 0;
  }

}

.feature2{
  background-color: rgba(251, 227, 115, 0.4);
  .collectionItem img {
    position: absolute;
    height: 250px;
    width: 250px;
    bottom: 40px;
  }
  .collectionDes {
    position: relative;
    padding-right: 30%;
    top: -100px;
    opacity: 0;
  }
}

.feature3{
  background-color: rgba(69, 141, 191, 0.4);
  .collectionItem img {
    bottom: 20px;
    position: absolute;
    height: 250px;
    width: 250px;
  }
  .collectionDes {
    position: relative;
    padding-left: 25%;
    top: -100px;
    opacity: 0;
  }
}

.linkFeatured {
  top: 80px;
  position: relative;

}

/*---------------------------------gallery---------------------------------*/

.col-md-12 {
  height: 300px;
  padding-top: 80px;
  font-style: italic;
  text-align: center;
  h1{
    font-family: Lora;
  }
}

.col-md-4 .itemImage img{
  height: 250px;
  width: 250px;
  margin: 20px;
}

.hiddenName {
  text-align: center;
  opacity: 0;
  transition: visibility 3s, opacity 1s linear;
}

.showName {
  text-align: center;
  opacity: 1;
  transition: visibility 3s, opacity 1s linear;
}

/*---------------------------- item details ------------------------------*/

.col-md-6 {
  min-height : 800px;
  font-family: Lora;
}

.itemName {
  font-family: Muli;
}

#itemImage {
  height: 600px;
  margin-top: 50px;
  padding: 10px 40px 20px 10px;
  img {
    width: 90%;
  }
}

#itemDescription {
  margin-top: 50px;
  padding: 40px;
  min-height: 200px;
}

/*------------------------------- cart -----------------------------------*/
 th {
   white-space: nowrap;
   border-bottom: solid 2px black;
 }

 td {
   border-bottom: solid 1px $mainColor;
 }

 .table {
   margin-top: 40px;
   min-height: 300px;
 }

 .orderSummary {
   background-color: #e3e5ff;
   border-radius: 10px;
 }

.btn{
  margin: 10px;
  background-color: $contrastColor;
  color: $mainColor;
  font-family: Muli;
  &:hover {
    box-shadow: #111111;
    background-color: #787bb1;
    color: $contrastColor
  }
 }

#paypal-button{
  margin: 10px;
}
/*------------------------------- payment popup ---------------------------------*/
.showPopup.active {
  visibility: visible;
  opacity: 1;

}

.showPopup {
  text-align: center;
  color: $mainColor;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s linear, opacity 1s linear;
  display: flex;
  position: absolute;
  width: 100%;
  height: 150px;
  background-color: $contrastColor;
  z-index: 100;
  padding: 20px;
  box-shadow: $shadow;
}


/*------------------------------- footer ---------------------------------*/

.footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: $mainColor;
  padding: $padding;
  height: $footerHeight;
  bottom: 0;
  margin-top: 10%;
  a:hover {
    color: black;
  }
}

.footerItem {
  color: $contrastColor;
  padding-left: 20px;
  padding-right: 20px;
}

