{% extends "index.njk" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="itemImage">
                <img src="{{item.image}}">
            </div>
            <div class="col-md-6" id="itemDescription">
                <h4 class="itemName">{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <p class="price">{{ item.price }}</p>
                <button id="addItem">Add to cart</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/formatCurrency.js"></script>
    <script>
        // Add to cart
        $("#addItem").on("click", function() {
            var cartId = Cookies.get("cartId");
            //var cartItemData = {"name": "{{item.name}}", "quantity" :  null };

            $.post("/cart", { //post to route "/cart"
                item: "{{ item.name }}", //posts item name;
            }, function (data) { //success response from server
                if (data.cartId !== cartId) { //if there isn't already a cartID then,
                    //localStorage.setItem("cartId", data.cartId); //save cartId as key name and data.cartId as value
                    Cookies.set("cartId", data.cartId);
                }
                var cartItemCurr = parseInt($(".cartItem").html());
                $(".cartItem").html(cartItemCurr + 1);
            });
        });
    </script>
{% endblock %}