{% extends "index.njk" %}

{% block body %}
    <div class="showPopup" data-result = "{{paymentResult}}">
        <p>Payment successful. Thank you for shopping with us.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 table" >

                <div class="row">
                    <div class="col-md-3">
                        <p>First Name: </p>
                    </div>
                    <div class="col-md-4">
                        <p>{{firstName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Surname: </p>
                    </div>
                    <div class="col-md-4">
                        <p>{{lastName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Company Name:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{company}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Email:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Street Address:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{streetAddress}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Suburb:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{suburb}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>City:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{city}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p>Country:</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{country}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 table">
                <table>
                    <tr>
                        <th>Order summary</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Subtotal</td>
                        <td class="subtotal"></td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td class="shipping"></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td class="total"></td>
                    </tr>
                </table>
                <p>Proceed with Paypal</p>
                <div id="paypal-button"></div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
<script src="checkoutScript.js"></script>
<script src="paymentScript.js"></script>
{% endblock %}